################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercise4DotnetCore/Console/ConsoleApp_HelloWorld/obj
/Exercise4DotnetCore/Console/ConsoleApp_HelloWorld/bin/Debug/netcoreapp2.1
/Exercise4DotnetCore/.vs/Exercise4DotnetCore/v15
