################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercise4DotnetCore/Console/ConsoleApp_HelloWorld/obj
